<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
  <!--  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> -->
    <uses-permission android:name="android.permission.CAMERA" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/wrkplanpyrllogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wrkplanpyrllogo2"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- [START fcm_default_icon] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/wrkplan_payroll_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->

        <activity android:name=".Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeInformation.EmployeeInformationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Leave_Balance.LeaveBalanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeFacilities.EmployeeFacilitiesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EmployeeDocuments.EmployeeDocumentsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CompanyDocuments.CompanyDocumentsActivity"
            android:screenOrientation="portrait"/>
<!--        <activity android:name=".InsuranceDetail.InsuranceDetailsActivity"/>-->
        <activity android:name=".InsuranceDetail.InsuranceDetail1"
            android:screenOrientation="portrait"/>
        <activity android:name=".HolidayDetail.HolidayDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MyLeaveApplication.MyLeaveApplicationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyLeaveApplication2.MyLeaveApplication2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SubOrdinateLeaveApplication.SubordinateLeaveApplicationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDuty.OutdoorListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDuty.OutDoorRequestActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDuty.SubordinateOutdoorListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".popup_Activity.POPUP"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDuty.SubordinateOutDoorRequestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDutyLog.OdDutyLogListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDutyLog.SubordinateOdDutyLogListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDutyLog.OdDutyLogDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OutDoorDutyLog.OdDutyLogEmployeeTaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.MyAttendanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.SubordinateAttendanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.MyAttendanceActivity_v2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.SubordinateAttendanceActivity_v2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.MyAttendanceLogActivity_v2"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.MyAttendanceActivity_v3"
            android:screenOrientation="portrait"/>
        <activity android:name=".Timesheet.SubordinateMonthlyAttendanceLog"
            android:screenOrientation="portrait"/>
        <activity android:name=".Reports.ReportHomeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Reports.PdfViewerActivity"/>
        <activity android:name=".Reports.PdfEditorActivity"/>

        <activity android:name=".AdvanceRequisition.AdvanceRequisitionActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AdvanceRequisition.AdvanceRequisitionEntryActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Lta.LtaListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Lta.SubordinateLtaListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Lta.LtaRequestActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Lta.LtaDocumentsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Lta.LtaDocumentPdfEditorActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Lta.LtaDocumentPdfViewer"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Mediclaim.MediclaimActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Mediclaim.MediclaimEntryActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Mediclaim.MediclaimDocumentsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Mediclaim.PdfViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Mediclaim.SubordinatePdfViewActivity"
            android:screenOrientation="portrait"></activity>


        <!-- Firebase Notifications -->
        <service
            android:name=".service.MyFirebaseService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
    </application>

</manifest>